# File header
snippet fhdr
	${2://}====================================================
	$2 Created by         : ${1:`g:snips_author`} 
	$2 Filename           : `expand('%:t')`
	$2 Author             : $1 
	$2 Created By         : $1
	$2 Created On         : `strftime("%Y-%m-%d %H:%M")`
	$2 Last Modified      : `strftime("%Y-%m-%d %H:%M")`
	$2 Description        : 
	$2 - ${4}
	$2====================================================
